@{
    Layout = "~/Views/Shared/Layouts/Light/_LightLayout_INI.cshtml";
}

@section HeadScripts {
    <meta charset="utf-8" />
<!--
    
-->
    <link href="/Content/Styles/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery-latest.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#tablesorter-demo").tablesorter();
            $("#tablesorter-Veterans").tablesorter();
            $("#tablesorter-Seniors").tablesorter();
            $("#tablesorter-Cadets").tablesorter();
            $("#tablesorter-Minimes").tablesorter();
            $("#tablesorter-Benjamins").tablesorter();
            $("#tablesorter-Poussins").tablesorter();
       // $("#tablesorter-demo").tablesorter({ sortList: [[0, 0], [2, 1]], widgets: ['zebra'] });
       // $("#options").tablesorter({ sortList: [[0, 0]], headers: { 2: { sorter: false }, 4: { sorter: false } } });
    });
    </script>

<script src="@Url.Content("/Scripts/modernizr.js")"></script>
    <!--[if lt IE 9]>
        
    <![endif]-->
    @RenderSection("HeadScripts", false)
}

@section MainContent {
    <section class="two-col-left">
        @RenderSection("CMSMainContent", false)
    </section>
    
    <aside class="col-right">
        @RenderSection("ColRight", false)
    </aside>
}

@RenderBody()

@section Scripts {
    <script src="//codeorigin.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="@Url.Content("/Scripts/jquery-latest.js")"></script>
    <script src="@Url.Content("/Scripts/jquery.tablesorter.js")"></script>
    @RenderSection("Scripts", false)
}
